Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100

EmptyLineBeforeAccessModifier: Always

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false

UseTab: Never

AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
